<div >
    <div class="field grid-container"> 

        <h2 class="grid-title">@Title</h2>
        <p class="grid-text">@Text</p>
        <a class="grid-hyper">lees verder</a>
        <img class="grid-image" src='https://th.bing.com/th?id=OIF.84YMKflpQxANDKR%2bxXWPSA&pid=ImgDet&rs=1'>
    </div>

</div>


 @code {

        [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Image { get; set;}
 }