<div class="info-container">
    <div class="first">
        <h2 class="title">@Title</h2>
        <p class="text">@((MarkupString)@Text)</p>
    </div>
    <div class="second">
        <img class="image" src="@Image">
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public int? Id { get; set; }
}
