@using Services.Core;
@using Shared.DTO.Core;
@inject AppointmentService appointmentService

<td>
    <div class="d-flex flex-column timeslot" @onclick="Collapse">
    @if(TimeSlots.Count > 0)
    {
        foreach (var timeSlot in TimeSlots)
        {
            <span>
                @timeSlot.DateTime.ToString("HH:mm") - @timeSlot.DateTime.AddMinutes(timeSlot.Duration).ToString("HH:mm")
                <br/>
                @if(!collapsed) {
                    <span class="appointment-subspan">
                        @timeSlot.AppointmentDTO.PatientDTO.Name
                        <br/>
                        @timeSlot.AppointmentDTO.Reason
                    </span>
                    <button class="btn btn-danger" @onclick="() => CancelAppointment(timeSlot.AppointmentDTO)">Annuleer</button>
                }
            </span>
        }
    }
    </div>
</td>

@code {
    [Parameter]
    public List<TimeSlotDTO> TimeSlots { get; set; }

    [Parameter]
    public string Day { get; set; }

    private bool collapsed = true;

    private async Task CancelAppointment(AppointmentDTO appointment)
    {
        await appointmentService.DeleteAppointment(appointment);
    }

    private void Collapse()
    {
        collapsed = !collapsed;
    }
}