.chatbox-div {
    width: 375px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    position: fixed;
    bottom: 0px; /* Adjust this value to control the vertical position */
    right: 10%; /* Adjust this value to control the horizontal position */
}

.chatbox-header {
    width: 100%;
    background: rgb(77, 156, 132);
    border-radius: 15px 15px 0px 0px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.title {
    padding-left: 10px;
}

.chatbox-content {
    height: 350px;
    display: none;
    width: 100%;
    padding: 5px;
    overflow-y:auto;
    padding-bottom: 60px;
}

.visible {
    display: block;
}

.gear:hover {
    color: rgb(231, 231, 231);
}