.textBubble-user {
    width: 100%;
    overflow: auto;
}

.textBubble-bot {
    width: 100%;
    overflow: auto;
}

.content {
    display: inline-block;
    padding: 5px 12px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px 0px inset;
}

.textBubble-bot .content {
    max-width: 80%;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    border-radius: 20px;
    font-weight: 400;
    float: left;
    font-size: 17px;
}

.textBubble-user .content {
    max-width: 80%;
    margin: 5px;
    background-color: rgb(118, 179, 160);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    float: right;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.question {
    display: inline-block;
    border-radius: 15px;
    padding: 5px 13px;
    margin: 5px 0;
    text-align: left;
    border: solid 1px rgb(118, 179, 160);
    background-color: rgb(245, 252, 251)
}

.question:hover {
    background-color: rgb(203, 219, 214);
    transition: 100ms ease-in-out;
    border: solid 1px rgb(255, 255, 255);
}
