<div class="textBubble-@(type == "bot" ? "bot" : "user")">
    <div>
    <div class="content">
        @if (mockdata == null || visible)
        {
            <span class="message">
                @Message
            </span>
        } else {
            @foreach(var item in mockdata)
            {
                <button class="question" @onclick="() => displayQuestion(item)">
                    @item.Question
                </button>
            }
        }
    </div>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string type { get; set; }

    [Parameter]
    public List<FAQItem> mockdata { get; set; }

    public bool visible = false;

    private bool isCollapsed = false;

    [Parameter]
    public EventCallback<FAQItem> QuestionClicked { get; set; }

    public async Task displayQuestion(FAQItem item) {
        Console.WriteLine(item.Question);
        Message = item.Question;
        visible = true;
        await QuestionClicked.InvokeAsync(item);
        StateHasChanged();
    }
}