.DoctorStepContainer {
  text-align: center;
  align-content: center;
  
}

.doctorbox {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 3%;
  background-color: #d4e8e4;
}

.center {
  flex: 1 0 calc(25% - 20px); /* 25% to fit four items in one row, subtracting margin */
  margin: 10px;
}

/* Additional styling for DoctorCard */
.DoctorCard {
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.center:hover .DoctorCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
}

.click {
  border: none;
  background-color: transparent;
}