<div class="question" data-test-id="faq-question" @onclick="() => ToggleAnswer()">> @Question</div>
@if (ShowAnswer)
        {
            <div class="answer" data-test-id="faq-answer">@Answer</div>
        }


@code {

    [Parameter]
    public string Question { get; set; }

    [Parameter]
    public string Answer { get; set; }

    [Parameter]
    public bool ShowAnswer { get; set; } = false;

    public void ToggleAnswer()
    {
        ShowAnswer = !ShowAnswer;
    }
}