.card {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    border: 10px solid black;
    margin-top: 50px;
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    background-color: #f0f0f0; /* Change the background color on hover */
    color: rgb(44, 68, 136);
}

.div_image {
    border: 10px solid black;
    width: 200px;
    height: 200px;
}