@inherits ComponentBase


<div class="card mb-3" @onclick="OnCardClick">
    <div class="card-body text-center">
        <img src="@ImageSrc" class="w-50 m-2 rounded" alt="Image" />
        <h5 class="card-title">@Name</h5>
        <p> 
            @Specialization
        </p>

        <button class=" btn btn-primary" >lees meer </button>
        
    </div>
</div>


@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Specialization { get; set;}

    [Parameter]
    public EventCallback OnCardClick { get; set; }
}