@inherits ComponentBase


<div class="card-container" data-test-id="doctorcard">
    <div class="img-container">
         <img src="@ImageSrc" class="docter-img" alt="Image" />
    </div>
    <div class="info-container">
        <h5 class="card-title" data-test-id="team-doctor-name">@Name</h5>
        <p class="card-descr">
            @Specialization
        </p>
    </div>
</div>

@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Specialization { get; set; }

    [Parameter]
    public int? DoctorId { get; set; }

    [Parameter]
    public EventCallback OnCardClick { get; set; }
}
