@inherits ComponentBase

<div class="card mb-3"> <!-- Set a fixed width for the card -->
    <div class="card-body text-center">
        <img src="@ImageSrc" class="w-50 m-2 rounded" alt="Image" />
        <h5 class="card-title" data-test-id="onsteam-doctor-name">@Name</h5>
        <p>
            @Specialization
        </p>

        <a href="/docter-info/@DoctorId" class="btn btn-primary custom-button">lees meer</a>
    </div>
</div>

@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Specialization { get; set; }

    [Parameter]
    public int DoctorId { get; set; }

    [Parameter]
    public EventCallback OnCardClick { get; set; }
}
