.card-container {
    height: 140px;
    width: 430px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #d4e8e4;
}

@media (max-width: 950px) {
    .card-container {
        width: 100%;
    }
}

.card-container:hover {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.img-container {
    height:100%;
    min-width: 40%;
}

.docter-img {
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px 0 0 5px;
}

.info-container {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(22, 44, 104);
}

.card-descr {
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: rgb(22, 44, 104);
    padding-left: 10px;
}

a {
    text-decoration: none !important;
}