.card-container {
    height: 340px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #d4e8e4;
    margin: 20px 10px;
}

.card-container:hover {
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.img-container {
    height: 45%;
    width: 100%;
}

.docter-img {
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.info-container {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(22, 44, 104);
}

.card-descr {
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: rgb(22, 44, 104);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(22, 44, 104);
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none !important;
}