@inherits ComponentBase

<div class="card" @onclick="OnCardClick">
    <div class="card-body text-center" data-test-id="treatmentcard-button">
        <img src="@ImageSrc" class="w-25 m-2 imp" alt="Image" />
        <h5 class="card-title" data-test-id="treatmentcard-treatment-title">@Title</h5>
    </div>
</div>

@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback OnCardClick { get; set; }
}