.textBubble {
    width: 100%;
}

.content {
    margin: 5px;
    float: right;
    background-color: rgb(118, 179, 160);
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    font-weight: 400;
}