

.footer-container {

    background: rgb(13, 197, 142);
    max-height: 10vh;

}

.footer {
    background-color:#93C5BB;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-section ul {
    flex-direction: row;
    list-style-type: none;
    align-items: start;

}

.right-section {
    display: flex;
    align-items: center;
}

.right-section a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}