@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorApp</PageTitle>
<div>
        <NavMenu />

    <main>
        <div>
            @Body
            @if (!NavigationManager.Uri.Contains("admin") && !NavigationManager.Uri.Contains("login"))
            {
                <Chatbox />
            }
        </div>
    </main>

    <div>
        @* hier moet de footer komen !!!!!!!!!!!  *@
        <Footer />
    </div>

</div>