.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  /* Add your desired background color */
  z-index: 1000;
  /* Adjust the z-index as needed */
  /* Add other styles like padding, border, or text color as desired */

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.icon {
  height: 25px;
  width: auto;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.firstNav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.logo {
  margin-top: 1.5rem;
  display: block;
  height: 280px;
  object-fit: cover;
  margin-left: 9rem;
}

.midNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55%;
}

.lastNav {
  width: 25%;
  background-color: #d4e8e4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.midNavItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.midNavItem:hover {
  text-decoration: none !important;
}

.navText {
  color: #033878;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1.5rem !important;
}

.lastText {
  color: #033878;
  font-size: 1.5rem;
  font-weight: bold;
}

.lastText:hover, .midNavItem:hover {
  text-decoration: underline !important;
}

.navText:hover {
  color: #033878;
  text-decoration: none !important;
}

.mobileNav {
  display: none;
}

@media (max-width: 1400px) {
  .fixed-nav {
    display: none;
  }

  /* .mobileNav {
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 40%;
    z-index: 1;
    position: absolute;
  } */

  nav {
    z-index: 999;
    position: fixed;
    width: 100%;
  }

  .bar {
    display: block;
    height: 6px;
    width: 35px;
    background-color: azure;
    border-radius: 10px;
  }

  .toggle-co {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .toggler {
    height: 40px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    background-color: transparent;

  }

  .toggler:hover {
    cursor: pointer;
  }

  .mobileNavLinks {
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: #93c5bb;
    border-radius: 0 0 25px 25px;
  }

  .navText {
    color: azure;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .togglerOff {
    position: absolute;
    z-index: 1;
    height: 30px;
    width: fit-content;
    margin-top: 20px;
    margin-right: 20px;
    right: 0;
  }

  .togglerOff:hover {
    cursor: pointer;
  }

  .L {
    transform: rotate(45deg);
    transform-origin: left;
  }

  .R {
    transform: rotate(-45deg);
    transform-origin: left;
    margin-top: 19px;
  }

  .slideDown {
    height: fit-content;
    width: 100%;
    animation: slideDown 0.3s ease-in-out;
    background-color: #93c5bb;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    position: absolute;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
}
