<div class="sidebar">
    <a class="sidebar-item" href="/admin"><p>Admin</p> <i class="fa fa-fw fa-home"></i></a>
    <!-- <a class="sidebar-item" href="/admin/scheduler"><p>Scheduler</p> <i class="fa fa-fw fa-calendar"></i></a> -->

    <div class="sidebar-item" @onclick="ToggleKalenders">
        <p>Kalenders</p><i class="fa fa-fw fa-calendar"></i>
    </div>

    <ul class="sub-items @kalendersItemStyle">
        <li><a href="/admin/kalenders/myagenda">MyAgenda</a></li>
        <li><a href="/admin/kalenders/scheduler">Scheduler</a></li>
    </ul>

    <a class="sidebar-item" href="/admin/clients"><p>Patiënten</p> <i class="fa fa-fw fa-user"></i></a>
    <a class="sidebar-item" href="/admin/messages"><p>Berichten</p> <i class="fa fa-fw fa-envelope"></i></a>
    <a class="sidebar-item" href="/admin/notes"><p>Notities</p> <i class="fa fa-fw fa-sticky-note"></i></a>

    @if (authenticationState.User.IsInRole("Admin"))
    {
        <a class="sidebar-item" href="/admin/dokters"><p>Dokters</p> <i class="fa fa-fw fa-user"></i></a>
        <a class="sidebar-item" href="/admin/chatbot"><p>Chatbot</p> <i class="fa fa-fw fa-comments"></i></a>

        <div class="sidebar-item" @onclick="ToggleCMS" data-test-id="sidebar-cms">
            <p>CMS</p><i class="fa fa-fw fa-envelope"></i>
        </div>
        <ul class="sub-items @cmsItemStyle">
            <li><a href="/admin/cms/home">Home Pagina</a></li>
            <li><a href="/admin/cms/behandelingen">Behandelingen Pagina</a></li>
            <li><a href="/admin/cms/contact">Contact Pagina</a></li>
            <li><a href="/admin/cms/actua">Actua Pagina</a></li>
            <li><a href="/admin/cms/faq">FAQ Pagina</a></li>
        </ul>
    }
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private AuthenticationState authenticationState;

    private bool isCMSExpanded = false;

    private bool isKalendersExpanded = false;

    private string cmsItemStyle => isCMSExpanded ? "open" : "closed";

    private string kalendersItemStyle => isKalendersExpanded ? "open" : "closed";

    private void ToggleCMS()
    {
        isCMSExpanded = !isCMSExpanded;
    }

    private void ToggleKalenders()
    {
        isKalendersExpanded = !isKalendersExpanded;
    }

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await authenticationStateTask;
    }
}
