@page "/chatbot"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using BlazorApp.Data
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Controllers
@inject DatabaseContext databaseContext
@using Microsoft.AspNetCore.Components
@inject ChatbotService ChatbotService

<PageTitle>Index</PageTitle>

<div class="content"> 
    <div class="container">
        <h1>Chatbot vragen</h1>
        <div id="accordion">
        @if (ChatBotObj != null)
        {
            foreach (var question in ChatBotObj)
            {
                  <ChatbotAccordion question=question onDelete="onDelete"/>
            }
        }
        </div> 
        <ChatbotPopup text="Voeg vraag toe" refresh=refresh />
        <button class="btn btn-primary" @onclick="OnInitializedAsync">Refresh</button>
    </div>

</div>
@code {
    IEnumerable<ChatBotQuestion>? ChatBotObj;
    private bool collapsed = true;

    protected override async Task OnInitializedAsync()
    {
        ChatBotObj = await Task.Run(() => ChatbotService.GetContent());
        ChatBotObj = ChatBotObj.Where(x => x.IsFollowUp == null);
    }

    protected async Task refresh()
    {
        await OnInitializedAsync();
        StateHasChanged();
    }

    protected async Task onDelete() {
        await refresh();
    }

    void Collapse()
    {
        collapsed = !collapsed;
    }

    
}