* {
    background: rgb(194,228,218);
}

.content {
    height: 100vh;
    background: rgb(194,228,218);
}

.container {
    padding-top: 100px;
    max-height: 100vh;
    overflow: scroll;
}

.btn {
    background: rgb(77, 156, 132);
    color: white;
}