@page "/admin/home"
@inherits EditPopUp
@using BlazorApp.Data
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Controllers
@using Microsoft.AspNetCore.Components
@using System.Text.Json
@inject DatabaseContext databaseContext
@inject BlogService blogService

<PageTitle>Index</PageTitle>
<div>
    <div class="background-div">

        <div class="overlay">
            <EditPopUp />
            <div class="buttons">
                <button class="btn btn-light">Maak een afspraak <span class="oi oi-calendar"></span></button>
                <button class="btn btn-light">Contacteer ons <span class="oi oi-envelope-closed"></span></button>
            </div>

        </div>
    </div>

</div>

<div>

    <h2 class="actuaTitle">Actualiteiten binnen onze praktijk</h2>


 
    <div class="actuaBox">
        <div class="buttons" style="margin-left: 20px;">
            <Button Color="Color.Primary">voeg blog toe</Button>
        </div>
        
        @if  (BlogObj != null)
        {
            foreach(var b in BlogObj){
                <ActuaField Title=@b.Title Text=@b.Text />
            }
        }

    </div>

</div>



@code {

    IEnumerable<Blog>? BlogObj;
    protected override async Task OnInitializedAsync()
    {
        BlogObj = await Task.Run(() => blogService.GetContent());
    }
    


}
