@page "/admin/home"
@inherits EditPopUp
@using BlazorApp.Data
@inject HomeHeaderService homeHeaderService

<PageTitle>Index</PageTitle>
<div>
    <div class="background-div">

        <div class="overlay">
            <EditPopUp />

            <h1>@header.Title</h1>
            <p>
                @header.Text
            </p>


            <div class="buttons">
                <button class="btn btn-light">Maak een afspraak <span class="oi oi-calendar"></span></button>
                <button class="btn btn-light">Contacteer ons <span class="oi oi-envelope-closed"></span></button>
            </div>

        </div>
    </div>

</div>

<div>

    <h2 class="actuaTitle">Actualiteiten binnen onze praktijk</h2>
    @* <Button Color="Color.Primary" Clicked="@ShowModal">voeg blog toe</Button> *@

    <div class="actuaBox">
        @for (int i = 0; i < 5; i++)
        {
            <ActuaField />
        }

    </div>

</div>



@code {

    HomeHeader? header;

     protected override async Task OnInitializedAsync()
    {
       header = await homeHeaderService.GetHomeHeaderAsync();
       Console.WriteLine(header.Title);
    }

}
