@page "/admin"
@using BlazorApp.Auth
@inject NavigationManager NavManager

<PageTitle>Admin - Home</PageTitle>

<div class="sidebar">
    <SideNavMenu />
</div>
<div class="admin container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            <h1>Welkom, @Username!</h1>
            Je bent ingelogd.
            <br />
            <img src="@Picture">
        </div>
    </div>
</div>

@code {
    private string Username = "Anonymous User";
    private string Picture = "";
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;

            Username = state?.User?.Identity?.Name ?? string.Empty;

            Picture = state?.User.Claims
                        .Where(c => c.Type.Equals("picture"))
                        .Select(c => c.Value)
                        .FirstOrDefault() ?? string.Empty;
        }
        await base.OnInitializedAsync();
    }


    //[Inject]
    //private BlitzWareAuthService BlitzWareAuthService { get; set; }

    //protected override void OnInitialized()
    //{
    //    if (string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
    //        NavManager.NavigateTo("/login");
    //}
}
