@page "/admin"
@using BlazorApp.Auth
@inject NavigationManager NavManager

<PageTitle>Admin - Home</PageTitle>

<div class="sidebar">
    <SideNavMenu />
</div>
<div class="admin container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6 text-center">
            @if (!string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            {
                <h3>Welkom @BlitzWareAuthService.AuthService.userData.Username</h3>
                <p>Je bent ingelogt.</p>
            }
            else
            {
                <p>U heeft geen toegang tot deze pagina, gelieve in te loggen.</p>
                <p><a href="/login">Klik hier om in te loggen.</a></p>
            }   
        </div>
    </div>
</div>

@code {
    [Inject]
    private BlitzWareAuthService BlitzWareAuthService { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            NavManager.NavigateTo("/login");
    }
}
