.content {
    min-height: 100vh;
    min-width: 100vw;
    height: fit-content;
    background: rgb(194,228,218);
}

.info-container {
    margin-top: 8vh;
    margin-left: 5vw;
    margin-right: 2vw;
    padding-bottom: 3%;
}

.add-button {
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerr {
    margin-left: 5%;
    margin-right: 4%;
    height: fit-content;
}

h1 {
    color: rgb(22, 44, 104);
    margin-top: 6%;
    margin-left: 5%;
}

.noBio {
    font-style: italic;
}

.headers {
    color: rgb(22, 44, 104);
    width: 100%;
    display: grid;
    grid-template-columns: 2% 15.21% 15.21% 15.21% 15.21% 15.21% 9% 12.95%;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

.headLine {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: rgb(22, 44, 104);
    border-radius: 5px;
}

.doc-container {
    color: rgb(22, 44, 104);
    font-size: 1.1rem;
    height: fit-content;
    display: grid;
    grid-template-columns: 2% 15.21% 15.21% 15.21% 15.21% 15.21% 9% 12.95%;
    align-items: center;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
}

.doc-container:nth-of-type(odd) {
    background-color: rgb(167,222,195);
}

.doc-container:nth-of-type(even) {
    background-color: rgb(194,228,218);
}

.doc-action-con {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.edit-btn {
    background-color: rgb(214, 195, 85);
    border: solid 2px rgb(165, 140, 0);
    border-radius: 4px;
    width: 35%;
    padding: 5% 10%;
    color: azure;
    transition: 0.3s;
    margin-right: 2.5%;
}

.edit-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    border: azure solid 2px;
}

@media (max-width: 1400px) {
    .info-container {
        margin-top: 0;
    }
    
}

@media (max-width: 1150px) {
    .headLine {
        display: none;
    }

    .content {
        z-index: 0;
        position: absolute;
    }

    .info-container {
        min-width: fit-content !important;
        margin: 0 !important;
    }

    h1 {
        margin-top: 1.5%;
        margin-left: 10%;
        font-size: 1.5rem;
    }

    .headers {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: fit-content;
        margin-left: 5%;
        border: 0 2px 0 0 solid rgb(22, 44, 104);
        background-color: rgb(228, 228, 228);
    }

    .doc-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: fit-content;
        padding: 2%;
    }

    .doc-container p, .doc-container div {
        margin-bottom: 24px !important;
    }

    .headers p {
        min-width: fit-content !important;
        margin-bottom: 20% !important;
        font-size: smaller;
    }

    .containerr {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        /* width: fit-content; */
    }

    .add-button {
        margin-left: 8%;
        margin-top: 4%;
        margin-bottom: 7%;
    }

    .odd, .even {
        width: fit-content;
    }
    .doc-action-con {
        width: 100%;
        margin-top: 20px;
    }

    .edit-btn {
        width: 100%;
        margin-right: 0;
    }

}

@media (max-width: 600px) {
    .headLine {
        display: none;
    }

    .content {
        z-index: 0;
        position: absolute;
    }

    .info-container {
        min-width: fit-content !important;
        margin: 0 !important;
    }

    h1 {
        margin-top: 1.5%;
        margin-left: 10%;
        font-size: 1.5rem;
    }

    .headers {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: fit-content;
        margin-left: 5%;
        border: 0 2px 0 0 solid rgb(22, 44, 104);
        background-color: rgb(228, 228, 228);
    }

    .doc-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: fit-content;
        padding: 2%;
    }

    .doc-container p, .doc-container div {
        margin-bottom: 24px !important;
    }

    .headers p {
        min-width: fit-content !important;
        margin-bottom: 20% !important;
        font-size: smaller;
    }

    .containerr {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        /* width: fit-content; */
    }

    .add-button {
        margin-left: 8%;
        margin-top: 4%;
        margin-bottom: 7%;
    }

    .odd, .even {
        width: fit-content;
    }
    .doc-action-con {
        width: 100%;
        margin-top: 20px;
    }

    .edit-btn {
        width: 100%;
        margin-right: 0;
    }
}

