.content {
    height: 100vh;
    background: rgb(194,228,218);
}

.container {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 550px;
}

h1 {
    margin-top: 100px;
    color: rgb(22, 44, 104);
    padding-left: 200px;
}

table, tr, th, td {
    background-color: white;
}

.noBio {
    font-style: italic;
}

.bio {
    max-width: 200px;
}