@page "/admin/employees"
@using BlazorApp.Auth
@inject NavigationManager NavManager
@using Newtonsoft.Json;

<div class="sidebar">
    <SideNavMenu />
</div>
<div class="admin container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            {
                <h3 data-test-id="employees-title">Welcome @BlitzWareAuthService.AuthService.userData.Username</h3>
                <p>List of all employees:</p>
                @if (employees != null && employees.Any())
                {
                    <div class="row">
                        @foreach (var employee in employees)
                        {
                            <div class="col-md-4 mb-3" data-test-id="employees-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@employee.Username</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@employee.Email</h6>
                                        <p class="card-text">Expiry Date: @employee.ExpiryDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                                        <!-- Add more card content for other employee properties -->
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>No employees to display.</p>
                }
            }
            else
            {
                <p>You are not authorized to access this page. Please log in.</p>
                <p><a href="/login">Click here to LOGIN.</a></p>
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    private BlitzWareAuthService BlitzWareAuthService { get; set; }
    List<BlitzWareAuth.API.Employee> employees;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            NavManager.NavigateTo("/login");
        else
        {
            BlitzWareAuth.API.RequestResult result = BlitzWareAuthService.AuthService.getAllUsers();
            if (result.Success)
            {
                employees = JsonConvert.DeserializeObject<List<BlitzWareAuth.API.Employee>>(result.Message);
            }
        }
    }
}
