.page-container {
    /*
    background-color: rgba(194, 228, 218, 1); /* Background color of your choice */
    
    background: rgb(194,228,218);
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9, 244, 138, 0.36) 100%);
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    display: flex;
    flex-direction: column;

}

.background {
  
    padding: 20px;
    
    /* Add other styles for your content as needed */
}

.breadcrumb {
    padding-left: 100px ;
    color: rgb(22, 44, 104);
}


.title-layout {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    /*
    background: rgb(194,228,218);
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9,246,140,0) 100%);
    */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: rgb(22, 44, 104); /* Tekstkleur aanpassen naar wens */
    padding-top: 100px;
    padding-left: 120px;
 
  
}



.overlay h1 {
    font-size: 40px; /* Grootte van de titel aanpassen naar wens */
    margin-bottom: 0px;
}

.overlay p {
    font-size: 18px; /* Grootte van de tekst aanpassen naar wens */
    margin-bottom: 0px;
}

/* JOW */
.admin {
    flex: 1;
}

/*.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}*/