.message-page {
    min-height: 100vh;
    height: fit-content;
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9, 244, 138, 0.36) 100%);
    padding-bottom: 70px;
}

.title-layout {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    /*
    background: rgb(194,228,218);
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9,246,140,0) 100%);
    */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: rgb(22, 44, 104); /* Tekstkleur aanpassen naar wens */
    padding-top: 100px;
    padding-left: 120px;
 
  
}

.messages-container {
    margin-left: 120px;
    width: 85%;
    height: fit-content;
    background-color: transparent;
    display: grid;
    grid-template-columns: 22% 78%;
}

.message {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.mail {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding-left: 20px;
    color: rgb(22, 44, 104);
    font-weight: 700;
    font-size: 20px;
    border-radius: 5%;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

input {
    margin-left: 120px;
    margin-top: 10px;
}

.mail:nth-of-type(odd) {
    background-color: rgb(145, 216, 195);
}

.mail:nth-of-type(even) {
    background-color: rgb(208, 224, 216);
}

.message-content {
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 5px;
}

.empty-message {
    font-weight: 800;
    font-size: 20px;
    color: rgb(22, 44, 104);
    text-align: center;
    margin-top: 25px;
}

.head-con {
    display: grid;
    width: fit-content;
    grid-template-columns: 50% 50%;
}

.selected-message {
    background-color: rgb(146, 202, 183);
    width: 100%;
    height: 100%;
    color: azure;
    padding: 20px;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

.info {
    font-size: 1.4rem;
}

.line {
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: azure;
    margin: 0;
    padding: 0;
}

.msg {
    font-size: 1.2rem;
    margin-top: 10px !important;
    padding: 0;
}

.top-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.unread-btn {
    background-color: rgb(136, 164, 154);
    border: solid 2px rgb(82, 114, 104);
    border-radius: 4px;
    padding: 10px 25px;
    color: azure;
    transition: 0.3s;
    margin-right: 2.5%;
}

.unread-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    border: azure solid 2px;
}

.del-btn {
    background-color: rgb(216, 109, 109);
    border: solid 2px rgb(206, 70, 70);
    border-radius: 4px;
    padding: 10px 25px;
    color: azure;
    transition: 0.3s;
    margin-left: 2.5%;
}

.del-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    border: azure solid 2px;
}

.confirmation-popup {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: azure;
    border: solid 3px rgb(206, 70, 70);
    border-radius: 8px;
    padding: 10px 25px;
    color: azure;
    transition: 0.3s;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    font-weight: 700;
    color: rgb(206, 70, 70);
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.popDel {
    background-color: rgb(216, 109, 109);
    border: solid 2px rgb(206, 70, 70);
    border-radius: 4px;
    color: azure;
    transition: 0.3s;
    width: 40%;
}

.popCan {
    background-color: rgb(146, 202, 183);
    border: solid 2px rgb(109, 151, 137);
    border-radius: 4px;
    color: azure;
    transition: 0.3s;
    padding: 2% 0;
    width: 40%;
}

.popDel:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: azure;
    color: rgb(206, 70, 70);
}

.popCan:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: azure;
    color: rgb(109, 151, 137);
}

.read-marker {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 15px;
    background-color: rgb(206, 70, 70);
}

.no-message {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(22, 44, 104);
    width: 100%;
    margin-top: 40px;
}

.row-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 950px) {
    
    .title-layout {
        padding-left: 50px;
        padding-top: 20px;
    }

    .messages-container {
        margin-left: 55px;
        width: 85%;
        height: fit-content;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    } 

    .message-col {
        height: 250px;
        overflow: auto;
    }

    input {
        margin-left: 50px;
        margin-top: 10px;
    }


}

@media only screen and (max-width: 600px) {
    .title-layout {
        padding-left: 50px;
        padding-top: 20px;
    }

    .messages-container {
        margin-left: 55px;
        width: 85%;
        height: fit-content;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    } 

    .message-col {
        height: 250px;
        overflow: auto;
    }

    .selected-message {
        margin-top: 20px;
        background-color: rgb(146, 202, 183);
        width: 100%;
        height: 100%;
        color: azure;
        padding: 20px;
        border-radius: 20px;
    }

    .message-content {
        max-height: 500px;
        min-height: 500px;
        overflow: auto;
        margin-left: 0;
        border-radius: 10px;
        margin-top: 5px;
    }

    .confirmation-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: azure;
        border: solid 3px rgb(206, 70, 70);
        border-radius: 8px;
        padding: 10px 25px;
        color: azure;
        transition: 0.3s;
        z-index: 100;
        display: flex;
        flex-direction: column;
    }

    .popDel, .popCan {
        width: 45%;
    }

    input {
        margin-left: 50px;
        margin-top: 10px;
    }

}