@page "/actua-detail/{BlogId:int}"

@using BlazorApp.Models
@using BlazorApp.Services
@inject BlogService blogService

<body>
	<div class="bodyWrapper">

		<div class="Wrapper">

			<div class="actuaContainer">
				<div class="exitActuaDetail">
					<NavLink class="backArrownav" href="/">
						<p class="lastText">
							<img src="images/BackArrow.png" class="backArrow" alt="icon" />
						</p>
					</NavLink>
				</div>
				@if (BlogPost != null)
				{
					<div class="imageText">
						<div class="ActuaImg">
							<img class="grid-image" src=@BlogPost.Image>
						</div>

						<div class="ActuaText">
							<p>
								@BlogPost.Text
							</p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</body>

@code {
	[Parameter] public int BlogId { get; set; }
	Blog? BlogPost;

	protected override async Task OnInitializedAsync()
	{

		BlogPost = await blogService.GetBlogById(BlogId);
	}
}
