@page "/actua"

@using Services.CMS;
@using Shared.DTO.CMS;
@inject BlogService blogService
@using Syncfusion.Blazor.Navigations;
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
<div class="page-container">
    <div class="title-layout">
        <h1>Actua</h1>
        <a><u>Home</u> > Actua </a>
    </div>
    <div class="center">
        <div class="wrapper">
        <SfCarousel AutoPlay="false" ShowPlayButton="false">
            @if (blogsObject != null)
                {
                    @foreach (var b in blogsObject)
                        {
                        <CarouselItem>
                            <div class="center">
                                <div class="car-container">
                                    <div class="desc-container">
                                        <div class="heading">@b.Title</div>
                                        <div class="content">@b.Text</div>
                                    </div>
                                    <div class="img-container">
                                        <img class="car-Img" src="@b.ImageLink" alt="@b.Title"/>
                                    </div>
                                </div>
                            </div>
                        </CarouselItem>
                    }
                }
            </SfCarousel>
        </div>
    </div>
</div>

@code {
    private IEnumerable<BlogDTO> blogsObject; 


    protected override async Task OnInitializedAsync()
    {
        blogsObject = await blogService.GetBlogs();
    }
}
