@page "/actua-detail/{BlogId:int}"
@using Services.CMS;
@using Shared.DTO.CMS;
@inject BlogService blogService

<div class="blog-wrapper">
    <div class="head">
        <h1>Blogpost: Laseroperatie voor bijziendheid: de voor- en nadelen</h1>
        <p>Welcome to our blog where we share interesting articles about eye health and vision.</p>
    </div>

    <div class="blog-container">
        <article>
            <img class="blog-image" src="https://img.noordhollandsdagblad.nl/0C2g51q-JZ9mGU4zOu75QV09s_I=/731x411/smart/https://cdn-kiosk-api.telegraaf.nl/6e4b1200-ac99-11e7-9e19-111553951722.jpg" alt="Blog Image">
            <h2>Laseroperatie voor bijziendheid: de voor- en nadelen</h2>
            <p>
                Bijziendheid is een veel voorkomende oogafwijking. Het is een refractieafwijking, wat betekent dat het oog niet in staat is om lichtstralen op de juiste manier te breken. Hierdoor ontstaat een wazig beeld.
                Bijziendheid kan worden gecorrigeerd met een bril of contactlenzen, maar ook met een laseroperatie. In dit artikel lees je meer over de voor- en nadelen van een laseroperatie voor bijziendheid.
            </p>
        </article>
    </div>

    <div class="recommended-section">
        <h2>Recommended Articles</h2>
        <ul>
            @foreach (var recommendedBlog in blog.Take(3)) 
            {
                <li><a href="/actuaDetail/@recommendedBlog.Id">recommendedBlog.Title</a></li>
            }
        </ul>
    </div>
</div>


@code {
    [Parameter] public int BlogId { get; set; }
    private IEnumerable<BlogDTO> blog;

    protected override async Task OnInitializedAsync() => blog = await blogService.GetBlogs();
}
