@page "/actua"

@using Services.CMS;
@using Shared.DTO.CMS;
@inject BlogService blogService
@using Syncfusion.Blazor.Navigations;
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
<div class="page-container">
    <div class="title-layout">
        <h1>Actua</h1>
        <a><u>Home</u> > Actua </a>
    </div>
    <div class="center">
        <div class="wrapper">
            <div class="control-section keyboard-carousel-section">
                <div class="col-lg-12 content-wrapper">
                    <div class="carousel-sample">
                        <SfCarousel CssClass="kb-carousel" AutoPlay="false" ShowPlayButton="true">
                            @if (BlogObjecten != null)
                            {
                                @foreach (var blog in BlogObjecten)
                                {
                                    <CarouselItem>
                                        <div class="country-detail-container">
                                            <div class="col-sm-5 detail-container">
                                                <div class="heading">@blog.Title</div>
                                                <div class="description">@blog.Text</div>
                                                <a class="detail" href="/actua-detail/@blog.Id" target="_blank">READ MORE</a>
                                            </div>
                                        <div class="col-sm-5 image-container">
                                            <picture>
                                                <img src="@blog.ImageLink" alt="@blog.Title" style="height:100%;width:100%;" />
                                            </picture>
                                        </div>
                                    </div>
                                </CarouselItem>
                            }
                        }
                    </SfCarousel>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@code {
    private IEnumerable<BlogDTO> BlogObjecten;

    protected override async Task OnInitializedAsync()
    {
            BlogObjecten = await blogService.GetBlogs();
    }
}
