@page "/afspraak"
@using BlazorApp.Data
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Controllers
@inherits ComponentBase
@inject DoctorService doctorService

<PageTitle>Afspraak maken</PageTitle>
<div class="main-container">
    <div class="title-layout">
        <h1>Afspraak maken</h1>
        <a><u>Home</u> > Afspraak maken </a>
    </div>
    <div class="treatments" style="display: @(showTreatment ? "block" : "none")">
        <div class="headerBox">
            <p class="header">1. Waarvoor wilt u een afspraak maken?</p>
        </div>
        <div class="background-div">
            <div class="overlay">
                <div class="container mt-40">
                    <div class="row ">
                        <div class="col-md-4 d-flex flex-fill">
                            <TreatmentCard ImageSrc="images/ooglidcorrectie.png" Title="Ooglidcorrectie" OnCardClick="Ooglidcorrectie" />
                        </div>
                        <div class="col-md-4 d-flex flex-fill">
                            <TreatmentCard ImageSrc="images/cataractoperatie.png" Title="Cataractoperatie" OnCardClick="Cataractoperatie" />
                        </div>
                        <div class="col-md-4 d-flex flex-fill">
                            <TreatmentCard ImageSrc="images/straaloperatie.png" Title="Straaloperatie" OnCardClick="Straaloperatie" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="doctors" style="display: @(showDoctors ? "block" : "none")">
        <div class="headerBox">
            <p class="header">2. Bij wie wens je een afspraak te maken?</p>
        </div>
        <div class="doctorbox">
         @if (DocObj != null)
            {
                @foreach (var doc in DocObj)
                {  
                        @if (doc != null)
                        {
                            <div class="center">
                                <button @onclick="(e) => chooseDoc(doc)">
                                    <DoctorCard ImageSrc=@doc.Image Name=@doc.Name Specialization=@doc.Specialization/>
                                </button>
                            </div>                        
                        }
                }
            }
            else
            {
                <p>DocObj is null.</p>
            }
        </div>
    </div>
    <div class="afspraak-plannen" style="display: @(showAfspraak ? "block" : "none")">
        <div class="headerBox">
            <p class="header">3. Kies een tijdslot</p>
        </div>
        <div class="afspraakbox">
            <div class="temp">
                <button class="butTemp" @onclick=chooseTime>temp</button>
            </div>
        </div>
    </div>
    <div class="contact-info" style="display: @(showContact ? "block" : "none")">
        <div class="headerBox">
            <p class="header">4. Vul uw contactgegevens in</p>
        </div>
    </div>
</div>

@code {
    private string treatment = "";
    private int doctorId = 0;
    private bool showTreatment = true;
    private bool showDoctors = false;
    private bool showAfspraak = false;
    private bool showContact = false;
    private void Ooglidcorrectie()
    {
        treatment = "Ooglidcorrectie";
        showTreatment = !showTreatment;
        showDoctors = !showDoctors;
    }
    private void Cataractoperatie()
    {
        treatment = "Cataractoperatie";
        showTreatment = !showTreatment;
        showDoctors = !showDoctors;
    }
    private void Straaloperatie()
    {
        treatment = "Straaloperatie";
        showTreatment = !showTreatment;
        showDoctors = !showDoctors;
    }
    IEnumerable<Doctor>? DocObj;
    protected override async Task OnInitializedAsync()
    {
        DocObj = await Task.Run(() => doctorService.GetAll());
    }
    private void chooseDoc(Doctor doc) {
        doctorId = doc.Id;
        showDoctors = !showDoctors;
        showAfspraak = !showAfspraak;
    }
    private void chooseTime()
    {
        showAfspraak = !showAfspraak;
        showContact = !showContact;
    }



}





