.background-div {
    height: 100vh;
    background-size: cover; 
    background-position: center; 
}

.overlay {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(194,228,218);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: rgb(22, 44, 104);
    padding: 120px;
    padding-top: 100px;
  
}

body {
    
    background: rgb(194,228,218);
}

.card {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.behandelingContent {
    margin-top: 40px;
}

.behandelingImage {
    height: 150px;
    width: 150px;
}

.faq {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #033878;
}

.faq-content {
    padding-left: 140px;
    padding-right: 140px;
}
.faqBtn:before  { content:"\203A"; }

.faqBtn {
    cursor: pointer;
}

a {
    color: rgb(22, 44, 104);
}
