@page "/behandelingen/{naam}"

<PageTitle>Behandeling Details</PageTitle>

<body> 
    <div class="background-div">
        <div class="overlay">

        <h1 class="text-capitalize">@naam</h1>

        <span class="breadcrumbs text-capitalize">
            <a href="/">Home</a> > <a href="/behandelingen">Behandelingen</a> > @naam
        </span>

        <div class="behandelingContent">
            <div class="container-fluid p-0 m-0">
                <div class="row d-flex align-items-stretch mb-4">
                    <div class="col-md-10">
                        <div class="card h-100 px-4">
                            <div class="card-body p-3 pt-4">
                                <h2 class="card-title mb-3">Over de @naam</h2>
                                @behandelingDescription
                            </div>
                        </div>
                    </div>
                        <div class="col-md-2">
                            <div class="card h-100 d-flex justify-content-center align-items-center">
                                <img src="@imagePath" class="h-20 behandelingImage" alt="Surgery Image">
                            </div>
                        </div>
                    </div>
                    <div class="card faq">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <span @onclick="ToggleCollapse" class="faqBtn">
                                    Kom ik in aanmerking?
                                </span>
                            </div>

                            <div class="col-md-4 text-center">
                                <span @onclick="ToggleCollapse" class="faqBtn">
                                    Hoe plan ik een afspraak?
                                </span>
                            </div>

                            <div class="col-md-4 text-center">
                                <span @onclick="ToggleCollapse" class="faqBtn">
                                    Wat zijn de tarieven?
                                </span>
                            </div>
                        </div>
                        @if (isCollapsed)
                        {
                            <div class="faq-content">
                            <hr>
                                Qui nostrud amet eu proident qui dolore duis nostrud eiusmod Lorem exercitation cillum in culpa. Aliquip cupidatat esse non ullamco esse ex quis et mollit. Veniam nisi ipsum qui non amet dolore incididunt labore non eiusmod fugiat nulla laborum. Adipisicing nisi qui voluptate non. Amet sunt reprehenderit elit ad.
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {
    [Parameter]
    public string naam { get; set; }

    private MarkupString behandelingDescription = new MarkupString("<p> Et aute sit ullamco et cupidatat velit cillum non voluptate consectetur voluptate incididunt. Exercitation commodo reprehenderit veniam non occaecat adipisicing laborum veniam veniam ea commodo duis anim reprehenderit. Deserunt elit Lorem ullamco dolor commodo do do. Culpa consequat aliqua ea pariatur sunt reprehenderit. Ad exercitation est proident occaecat labore commodo nulla fugiat duis tempor. Excepteur excepteur amet ea sunt in cupidatat sint dolore. Culpa veniam sint esse elit deserunt aliquip qui. </p> <p> Sit nulla irure incididunt do. Esse fugiat consequat officia enim consectetur. Excepteur culpa voluptate aliquip ullamco. Pariatur commodo sit elit labore consequat dolor exercitation. Aliquip exercitation dolore velit cupidatat ea magna commodo consequat elit. Incididunt eiusmod incididunt tempor aliquip deserunt laborum occaecat officia eiusmod est pariatur nulla aliqua voluptate. </p> <h4>Subtitel</h4> <p> Duis incididunt veniam nulla tempor anim laboris minim aute voluptate mollit dolore eiusmod. Minim culpa consequat eiusmod laborum. Sit ad et nostrud exercitation cupidatat. Incididunt irure ea voluptate voluptate eiusmod deserunt quis est sint ex. Officia aliqua sit est pariatur ullamco nulla exercitation nostrud in deserunt sint amet minim mollit. </p>");
}

@code {
    private bool isCollapsed = false;
    private string imagePath = "";

    protected override void OnInitialized()
    {
        imagePath = "images/" + @naam + ".png";
    }

    private void ToggleCollapse()
    {
        isCollapsed = !isCollapsed;
    }
}