body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-height: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 10% 0 10% 0;
    padding: 0 20% 0 20%;
    align-items: center;
    text-decoration:none;
    
    
}
.doctor-info{
    margin-left:2rem;
}
.doctor-info li {
    list-style: none;
    width:100%;
}
.content-wrapper img {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
}
.text-center {
    text-align: center !important;
}


.doctor-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
}
#biography {
    display: none;
}

