@page "/DoctorDetail"

<div class="content-wrapper">
    <div class="info-wrapper">
        <img src="images/schermer.jpg" alt="Doctor Image" class="doctor-image" />
    </div>
    <div class="doctor-info">
        <h2>Doctor Information</h2>
        <ul>
            <li><strong>Name:</strong> Dr. John Doe</li>
            <li><strong>Specialty:</strong> Cardiologist</li>
            <li><strong>Education:</strong> Medical School XYZ</li>
            <li><strong>Experience:</strong> 10 years</li>
        </ul>
    </div>
</div>
