@page "/faq"
@inherits ComponentBase
@using Shared.DTO.CMS;
@using Services.CMS;
@inject FaqService faqService

<PageTitle>FAQ</PageTitle>

<div class="faq-page">
    <div class="title-layout">
        <h1>FAQ</h1>
        <a><u>Home</u> > FAQ </a>
    </div>
    <div class="faq-container">
        @if (FaqObj != null)
            {
                @foreach (var f in FaqObj)
                {
                    <div class="question-container">
                        @if (f != null)
                        {
                            <QuestionFAQ Question=@f.Question Answer=@f.Answer/>
                            <span class="line"></span>
                        }
                    </div>
                }
            }
            else
            {
                <p>FaqObj is null.</p>
            }
    </div>
</div>


@code {
    IEnumerable<FaqDTO>? FaqObj;

    protected override async Task OnInitializedAsync()
    {
        FaqObj = await faqService.GetFaqs();
    }
}