@page "/faq"

<PageTitle>FAQ</PageTitle>
<div class="faq-page">
    <div class="title-layout">
        <h1>FAQ</h1>
        <a><u>Home</u> > FAQ </a>
    </div>
    <div class="faq-container">
        @* faq component *@
    </div>
</div>