@page "/"
@using System.Text.Json
@using BlazorApp.Data
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Controllers
@inject HomeHeaderService homeHeaderService
@inject DatabaseContext databaseContext

<PageTitle>Index</PageTitle>

<div>
    <div class="background-div">
        <div class="overlay">
            @if (HomObj != null)
            {
                @foreach (var h in HomObj)
                {

                    <h1>@h.Title</h1>
                    <p>
                        @h.Context
                    </p>
                }
            }
            else
            {

                <h1>title</h1>
                <p>
                    context
                </p>
            }
            <div class="buttons">
                <button class="btn btn-light">Maak een afspraak <span class="oi oi-calendar"></span></button>
                <button class="btn btn-light">Contacteer ons <span class="oi oi-envelope-closed"></span></button>
            </div>
        </div>
    </div>
</div>

<div>

    <h2 class="actuaTitle">Actualiteiten binnen onze praktijk</h2>

    <div class="actuaBox">
        @for (int i = 0; i < 5; i++)
        {
            <ActuaField />
        }
    </div>

</div>


@code {


    IEnumerable<HomeHeader>? HomObj;

    protected override async Task OnInitializedAsync()
    {

        HomObj = await Task.Run(() => homeHeaderService.GetContent());
    }

}