@page "/"
@using System.Text.Json
@using BlazorApp.Data
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Controllers
@inject HomeHeaderService homeHeaderService
@inject DatabaseContext databaseContext
@using Microsoft.AspNetCore.Components
@inject BlogService blogService

<PageTitle>Index</PageTitle>

<div>
    <div class="background-div">
        <div class="overlay">
            @if (HomObj != null)
            {
                @foreach (var h in HomObj)
                {

                    <h1>@h.Title</h1>
                    <p>@((MarkupString)h.Context)</p>
                }
            }
            else
            {

                <h1>title</h1>
                <p>
                    context
                </p>
            }
            <div class="buttons">
                <button class="custom-button btn-custom">Maak een afspraak <span class="oi oi-calendar"></span></button>
                <button class="custom-button btn-custom">Contacteer ons <span
                        class="oi oi-envelope-closed"></span></button>
            </div>
        </div>
    </div>
</div>

<div>



    <div class="actuaBox">
        <h2 class="actuaTitle">Actualiteiten binnen onze praktijk</h2>
        @if (BlogObj != null)
        {
            for (int i = 0; i < 3; i++) { }
            foreach (var blog in BlogObj)
            {
                <ActuaField Title=@blog.Title Text=@blog.Text Image=@blog.Image Id=@blog.Id />
            }
        }

    </div>

</div>


@code {


    IEnumerable<HomeHeader>? HomObj;
    IEnumerable<Blog>? BlogObj;
    protected override async Task OnInitializedAsync()
    {

        HomObj = await Task.Run(() => homeHeaderService.GetContent());
        BlogObj = await Task.Run(() => blogService.GetContent());
    }




}