@page "/Locatie"

<PageTitle>Locatie</PageTitle>
<body>
<div class="page-container">
    <div class="title-layout">
        <h1>Locatie</h1>
        <a ><u>Home</u> > Locaties </a>
    </div>
<div class="container mt-4">
        <div class="row">
            <!-- Left Column for Text -->
            <div class="col-md-6">
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore
                    magna aliqua. Ut <br>enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <br> commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                </p>
            </div>

            <!-- Right Column for Google Maps -->
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160404.48929096633!2d3.549413672523532!3d51.08409896849969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c370e1339443ad%3A0x40099ab2f4d5140!2sGent!5e0!3m2!1snl!2sbe!4v1696930185595!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    
</div>
</body>


