@page "/login"
@using BlazorApp.Auth
@inject NavigationManager NavManager
@inject ILocalStorageService _localstorage;

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div>
        <h3 class="headBox">Login</h3>

        <p data-test-id="login-message">@message</p>

        <EditForm Model="login" OnValidSubmit="LoginUser" style="max-width:500px;">
            <DataAnnotationsValidator />
            <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
            <div class="cont">
                    <label class='formLabel'>Gebruikersnaam</label>
                    <InputText @bind-Value="login.username" placeholder="Naam" data-test-id="login-username"></InputText>
                    <label class='formLabel'>Paswoord</label>
                    <InputText type="password" @bind-Value="login.password" placeholder="Wachtwoord" data-test-id="login-password"></InputText>
                    <button class="loginBtn" disabled="@isDisabled" data-test-id="login-button">Login</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    BlitzWareAuth.API.LoginModel login = new BlitzWareAuth.API.LoginModel();
    string message = string.Empty;
    private bool isDisabled = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            {
                NavManager.NavigateTo("/admin");
            }
        }
    }

    private void LoginUser()
    {
        isDisabled = true;
        BlitzWareAuth.API.RequestResult result = BlitzWareAuthService.AuthService.Login(login.username, login.password, "");
        if (result.Success)
        {
            _localstorage.SetItemAsStringAsync("authToken", BlitzWareAuthService.AuthService.userData.Token);
            message = result.Message;
            BlitzWareAuth.API.RequestResult result2 = BlitzWareAuthService.AuthService.Log(BlitzWareAuthService.AuthService.userData.Username, "Logged in");
            if (result2.Success)
            {
                NavManager.NavigateTo("/admin");
            }
            else
            {
                isDisabled = false;
                message = result2.Message;
            }
        }
        else
        {
            isDisabled = false;
            message = result.Message;
        }
    }

    [Inject]
    private BlitzWareAuthService BlitzWareAuthService { get; set; }
}
