@page "/onsTeam"

<PageTitle>Ons Team</PageTitle>
<body>
<div class="page-container">
    <div class="title-layout">
        <h1>Ons team</h1>
        <a ><u>Home</u> > Ons team </a>
    </div>

    <div class="container mt-4">
        <div class="row ">
            <div class="col-md-6 col-lg-4">
                <TeamCard ImageSrc="images/schermer.jpg" Name="Dokter 1 " />
            </div>
            <div class="col-md-6 col-lg-4">
                <TeamCard ImageSrc="images/schermer.jpg" Name="Dokter 2"  />
            </div>
            <div class="col-md-6 col-lg-4">
                <TeamCard ImageSrc="images/schermer.jpg" Name="Dokter 3" />
            </div>
        </div>
    </div>
</div>
</body>





