@page "/ons-team"
@using Services.Core;
@using Shared.DTO.Core;
@inject DoctorService doctorService

<PageTitle>Ons Team</PageTitle>

<div class="page-container">
    <div class="title-layout">
        <h1>Ons team</h1>
        <BindToLocation />
    </div>

    <div class="docter-container">
            @if (doctors != null)
            {
                @foreach (var doc in doctors)
                {
                    <div class="col-md-6 col-lg-4">
                        @if (doc != null)
                        {
                            <a class="card" href="/ons-team/@doc.Id">
                                <TeamCard ImageSrc=@doc.ImageLink Name=@doc.Name Specialization="@doc.Specialization" DoctorId=@doc.Id />
                            </a> 
                        }
                    </div>
                }
            }
            else
            {
                <p>DocObj is null.</p>
            }
    </div>
</div>

@code {
    private IEnumerable<DoctorDTO> doctors;

    protected override async Task OnInitializedAsync()
    {
        doctors = await doctorService.GetDoctors();
    }
}
