.background-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    
}

.background-image {
    width: 100%;
    height:500px;
}

h5 {
    font-weight: bold;
    font-size: 24px;
}

input {
    margin-top: 30px;
}

.overlay {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(194,228,218);
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9,246,140,0) 100%);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: rgb(22, 44, 104); /* Tekstkleur aanpassen naar wens */
    padding: 120px;
    padding-top: 100px;
  
}

@media only screen and (max-width: 500px) {
    .overlay {
        padding: 20px;
        padding-top: 20px;
    }
    
    h1 {
        font-size: 32px;
    }
}

.container {
    margin-top: 80px;
    max-width: 100%;
}

a {
    color: rgb(22, 44, 104);
}

.overlay h1 {
    font-size: 40px; /* Grootte van de titel aanpassen naar wens */
    margin-bottom: 20px;
}

.overlay p {
    font-size: 18px; /* Grootte van de tekst aanpassen naar wens */
    margin-bottom: 40px;
}

.buttons {
    margin-top: 20px;

}

.btn {
    margin: 5px;
}
.background-div {
    height: 100vh;
    background-image: url('https://oogarts-lokeren.be/_images/pages/37.jpg'); /* Replace 'path-to-your-image.jpg' with the actual path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
}