@page "/behandelingen"

<PageTitle>Behandelingen</PageTitle>

<body>
    <div class="background-div">
    <div class="overlay">
        <h1>Behandelingen</h1>

        <!-- TODO -->
        <span class="breadcrumbs">
            <a href="/"><u>Home</u></a> > Behandelingen
        </span>

    <div class="container mt-40">
        <div class="row ">
            <div class="col-md-4 d-flex flex-fill">
                <TreatmentCard ImageSrc="images/ooglidcorrectie.png" Title="Ooglidcorrectie" OnCardClick="NavigateOoglidcorrectie" />
            </div>
            <div class="col-md-4 d-flex flex-fill">
                <TreatmentCard ImageSrc="images/cataractoperatie.png" Title="Cataractoperatie" OnCardClick="NavigateCataractoperatie" />
            </div>
            <div class="col-md-4 d-flex flex-fill">
                <TreatmentCard ImageSrc="images/straaloperatie.png" Title="Straaloperatie" OnCardClick="NavigateStraaloperatie" />
            </div>
        </div>
    </div>
        </div>
    </div>
</body>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    private string currentPage = "/behandelingen";
    private void NavigateOoglidcorrectie()
    {
        NavigationManager.NavigateTo(@currentPage + "/ooglidcorrectie");
    }

    private void NavigateCataractoperatie()
    {
        NavigationManager.NavigateTo(@currentPage + "/cataractoperatie");
    }

    private void NavigateStraaloperatie()
    {
        NavigationManager.NavigateTo(@currentPage + "/straaloperatie");
    }
}