@page "/behandelingen/{naam}"

<PageTitle>Behandeling Details</PageTitle>

    <div class="background-div">
        <div class="overlay">

        <h1 class="text-capitalize">@naam</h1>

        <span class="breadcrumbs text-capitalize">
            <a href="/"><u>Home</u></a> > <a href="/behandelingen"><u>Behandelingen</u></a> > @naam
        </span>

        <div class="behandelingContent">
            <div class="container-fluid p-0 m-0">
                <div class="row d-flex align-items-stretch mb-4 g-2">
                    <div class="col-md-10">
                        <div class="card h-100 px-4">
                            <div class="card-body p-3 pt-4">
                                <h2 class="card-title mb-3">Over de @naam</h2>
                                @behandelingDescription
                            </div>
                        </div>
                    </div>
                        <div class="col-md-2">
                            <div class="card h-100 d-flex justify-content-center align-items-center">
                                <img src="@imagePath" class="h-20 behandelingImage" alt="Surgery Image">
                            </div>
                        </div>
                    </div>
                        <FAQ faq="@faq" />
                </div>
            </div>
        </div>
    </div>

@code {
    [Parameter]
    public string naam { get; set; }

    private MarkupString behandelingDescription = new MarkupString("<p> Et aute sit ullamco et cupidatat velit cillum non voluptate consectetur voluptate incididunt. Exercitation commodo reprehenderit veniam non occaecat adipisicing laborum veniam veniam ea commodo duis anim reprehenderit. Deserunt elit Lorem ullamco dolor commodo do do. Culpa consequat aliqua ea pariatur sunt reprehenderit. Ad exercitation est proident occaecat labore commodo nulla fugiat duis tempor. Excepteur excepteur amet ea sunt in cupidatat sint dolore. Culpa veniam sint esse elit deserunt aliquip qui. </p> <p> Sit nulla irure incididunt do. Esse fugiat consequat officia enim consectetur. Excepteur culpa voluptate aliquip ullamco. Pariatur commodo sit elit labore consequat dolor exercitation. Aliquip exercitation dolore velit cupidatat ea magna commodo consequat elit. Incididunt eiusmod incididunt tempor aliquip deserunt laborum occaecat officia eiusmod est pariatur nulla aliqua voluptate. </p> <h4>Subtitel</h4> <p> Duis incididunt veniam nulla tempor anim laboris minim aute voluptate mollit dolore eiusmod. Minim culpa consequat eiusmod laborum. Sit ad et nostrud exercitation cupidatat. Incididunt irure ea voluptate voluptate eiusmod deserunt quis est sint ex. Officia aliqua sit est pariatur ullamco nulla exercitation nostrud in deserunt sint amet minim mollit. </p>");

    private string imagePath = "";

    protected override void OnInitialized()
    {
        imagePath = "images/" + @naam + ".png";
    }
    
    string[,] faq = new string[,] {
        {"Kom ik in aanmerking?", "Sint nisi ex sunt officia ex pariatur. Dolor amet in exercitation laboris duis pariatur minim labore ex aliqua. Proident Lorem ex ipsum tempor occaecat elit ut cupidatat aliquip sit dolore qui cillum cupidatat."},
        {"Hoe plan ik een afspraak?", "Aliqua amet aute est fugiat id dolore amet. Ut ea occaecat commodo cillum ad officia. Enim laboris eu est Lorem magna. Ex in nostrud id ullamco consequat elit pariatur amet mollit est. Esse consectetur elit excepteur magna in eu quis. Dolor aliqua nisi id voluptate velit eu fugiat excepteur sint. Enim fugiat fugiat qui aliquip ea velit et laboris."},
        {"Wat zijn de tarieven?", "Lorem elit amet ea proident enim eiusmod tempor esse est commodo. Cillum anim aliqua sunt tempor eu excepteur. Elit officia do veniam culpa reprehenderit velit et fugiat fugiat tempor anim do. Elit esse deserunt fugiat anim magna aliquip incididunt non. Esse Lorem nisi tempor Lorem excepteur cupidatat aliqua. Qui sit ut excepteur exercitation. Esse officia officia exercitation tempor duis sint duis."}
    };
}