@page "/admin/kalenders/myagenda"
@using BlazorApp.Auth
@using BlazorApp.Models
@using BlazorApp.Components.Modals
@using BlazorApp.Services
@inject NavigationManager NavManager

<div class="sidebar">
    <SideNavMenu />
</div>
<div class="admin-container">
    <div>
        @if (!string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
        {
            <p>This is a brand new page!</p>
            <p>This is a brand new page!</p>
            <p>This is a brand new page!</p>
            <p>This is a brand new page!</p>
            <p>This is a brand new page!</p>
            <p>This is a brand new page!</p>
            <p>This is a brand new page!</p>

        }
        else
        {
            <p>You are not authorized to access this page. Please log in.</p>
            <p><a href="/login">Click here to LOGIN.</a></p>
        }
    </div>
</div>

@code {
    [Inject]
    private BlitzWareAuthService BlitzWareAuthService { get; set; }
    private IEnumerable<TimeSlot> ListOfTimeSlots;
    private List<ScheduleTimeSlot> MondayList = new List<ScheduleTimeSlot>();
    private List<ScheduleTimeSlot> TuesdayList = new List<ScheduleTimeSlot>();
    private List<ScheduleTimeSlot> WednesdayList = new List<ScheduleTimeSlot>();
    private List<ScheduleTimeSlot> ThursdayList = new List<ScheduleTimeSlot>();
    private List<ScheduleTimeSlot> FridayList = new List<ScheduleTimeSlot>();
    private List<ScheduleTimeSlot> SaturdayList = new List<ScheduleTimeSlot>();
    private List<ScheduleTimeSlot> SundayList = new List<ScheduleTimeSlot>();

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
        {
            NavManager.NavigateTo("/login");
        }

        // ListOfScheduleTimeSlots = await ScheduleTimeSlotService.GetScheduleTimeSlotsByDoctorId(0);

        // Add each time slot to the appropriate list

    }
}