@page "/admin/kalenders/myagenda"
@using BlazorApp.Components.Modals
@using Services.Core;
@using Shared.DTO.Core;
@inject NavigationManager NavManager

@attribute [Authorize(Roles = "Admin, Employee")]

<div class="sidebar">
    <SideNavMenu />
</div>
<div class="admin-container">
    <div>
        <p>This is a brand new page!</p>
        <p>This is a brand new page!</p>
        <p>This is a brand new page!</p>
        <p>This is a brand new page!</p>
        <p>This is a brand new page!</p>
        <p>This is a brand new page!</p>
        <p>This is a brand new page!</p>

    </div>
</div>

@code {
    private IEnumerable<TimeSlotDTO> ListOfTimeSlots;
    private List<ScheduleTimeSlotDTO> MondayList = new List<ScheduleTimeSlotDTO>();
    private List<ScheduleTimeSlotDTO> TuesdayList = new List<ScheduleTimeSlotDTO>();
    private List<ScheduleTimeSlotDTO> WednesdayList = new List<ScheduleTimeSlotDTO>();
    private List<ScheduleTimeSlotDTO> ThursdayList = new List<ScheduleTimeSlotDTO>();
    private List<ScheduleTimeSlotDTO> FridayList = new List<ScheduleTimeSlotDTO>();
    private List<ScheduleTimeSlotDTO> SaturdayList = new List<ScheduleTimeSlotDTO>();
    private List<ScheduleTimeSlotDTO> SundayList = new List<ScheduleTimeSlotDTO>();

    protected override async Task OnInitializedAsync()
    {
        // ListOfScheduleTimeSlots = await ScheduleTimeSlotService.GetScheduleTimeSlotsByDoctorId(0);

        // Add each time slot to the appropriate list
    }
}