
.page-container {
    /*
    background-color: rgba(194, 228, 218, 1); /* Background color of your choice */
    
    background: rgb(194,228,218);
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9, 244, 138, 0.36) 100%);
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
    display: flex;
    flex-direction: column;

}

.bolder {
    font-weight: 700;

}

.title-layout {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    /*
    background: rgb(194,228,218);
    background: linear-gradient(41deg, rgba(194,228,218,1) 0%, rgba(167,222,195,1) 52%, rgba(9,246,140,0) 100%);
    */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: rgb(22, 44, 104); /* Tekstkleur aanpassen naar wens */
    padding-top: 100px;
    padding-left: 120px;
 
  
}

.form-container {
    /* border: solid red 3px; */
}

.header1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(22, 44, 104);;
}

.header2 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 35px;
    color: rgb(22, 44, 104);
    display: flex;
    flex-direction: row-reverse;
    margin-right: 300px;
    padding-top: 30px;
}

.divide-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLabel {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(22, 44, 104);
}

.label-container {
    display: flex;
    flex-direction: rox;
    margin-bottom: 20px;
}

.name-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.sendBtn {
    border-radius: 7px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgb(22, 44, 104);
    color: azure;
    font-weight: bold;
}

.sendBtn:hover {
    background-color: azure;
    color: rgb(22, 44, 104);
    transition: 0.5s;
    border: solid rgb(22, 44, 104);
}

.leftie {
    width: 100%;
    margin-left: 150px;
}

.mp {
    background: transparent !important;
}

.containerLoc {
    background-color: #d4e8e4;
    height: 100vh;
    padding-bottom: 100px;
}

.loc-details-con {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.loc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.loc-details {
    margin-left: 100px;
    margin-top: 20px;
}

p {
    color: rgb(22, 44, 104);
    font-size: 1.3rem;
    margin-bottom: 10px !important;
}

.changeBtn {
    border-radius: 7px;
    height: 30px;
    width: 100px;
    border: none;
    background-color: rgb(55, 218, 33);
    color: azure;
    font-weight: bold;
    border: solid rgb(34, 151, 18);
    transition: 0.3s;
}

.changeBtn:hover {
    background-color: azure;
    transition: 0.5s;
    color: rgb(34, 151, 18);
    border-color: rgb(55, 218, 33);
}