@page "/admin/cms/home"
@inherits EditHeaderPopUp
@using Services.CMS;
@using Shared.DTO.CMS;
@using Persistence.Data;
@using BlazorApp.Controllers
@using BlazorApp.Components.Modals
@using Microsoft.AspNetCore.Components
@using System.Text.Json
@inject DatabaseContext databaseContext
@inject BlogService blogService;
@inject NavigationManager NavManager
@using Newtonsoft.Json;

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin - CMS Home</PageTitle>

<div class="sidebar">
    <SideNavMenu />
</div>

<div class="mains">
    <div class="background-div">
        <div class="overlay">
            <EditHeaderPopUp />
            <div class="buttons">
                <button class="btn btn-light">Maak een afspraak <span class="oi oi-calendar"></span></button>
                <button class="btn btn-light">Contacteer ons <span class="oi oi-envelope-closed"></span></button>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}
