@page "/admin/cms/location"
@using BlazorApp.Auth
@using BlazorApp.Data
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Controllers
@using BlazorApp.Components.Modals
@inject NavigationManager NavManager
@inject LocationService locationService
<PageTitle>Locatie</PageTitle>
<div class="sidebar">
    <SideNavMenu />
</div>
@if (!string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token) &&
                 BlitzWareAuthService.AuthService.appData.AdminRoleLevel
                 ==
                 BlitzWareAuthService.AuthService.userData.UserSubLevel)
{
<div class="page-container">
    <div class="title-layout">
        <h1>Locatie</h1>
        <a ><u>Home</u> > Locaties </a>
    </div>
<div class="container mt-4">
    <ModalPopUp/>
        <div class="row">
            <!-- Left Column for Text -->
            <div class="col-md-6">
                 @if (LocObj != null)
        {
            @foreach (var h in LocObj)
            {

            
                
                   @((MarkupString)h.Context)
            
            }
        }
        else
        {

            <h1>ERROR</h1>
        }
            </div>

            <!-- Right Column for Google Maps -->
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d160404.48929096633!2d3.549413672523532!3d51.08409896849969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c370e1339443ad%3A0x40099ab2f4d5140!2sGent!5e0!3m2!1snl!2sbe!4v1696930185595!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    
</div>
}

@code {
    [Inject]
    private BlitzWareAuthService BlitzWareAuthService { get; set; }
    
    IEnumerable<LocationM>? LocObj;
    
      protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            NavManager.NavigateTo("/login");
        LocObj = await Task.Run(() => locationService.GetContent());
    }

}
