@*<div class="footer-container">

    <h1> footer</h1>

</div> *@

<div class="footer">
    <div class="left-section">
        <img src="images/logo.png" alt="Company Logo" />
        <p>123 Main Street, City, Country</p>
    </div>
    <div class="right-section">
        <a href="https://www.facebook.com"  > <i class="bi bi-facebook"></i></a>
        <a href="https://www.twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com" class="fa fa-linkedIn" ></a>
    </div>
</div>


