@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorApp</PageTitle>
<div>
    <div class="top-row nav-menu-container">
        <NavMenu />
    </div>

    <main>
        <div >
           @Body
        </div>
    </main>

    <div>
        @* hier moet de footer komen !!!!!!!!!!!  *@
        <Footer />
    </div>

</div>
