@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>BlazorApp</PageTitle>

<div>
    <div class="top-row">
        <NavMenu />
    </div>

    <main>
        <div >
            @Body     
        </div>
    </main>

    <div>
        @* hier moet de footer komen !!!!!!!!!!!  *@
    </div>

</div>
