@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4">
            Work in progress
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
       
        <div >
            <Home />
        </div>
     
    </main>
</div>
