﻿<nav>
    <div class="fixed-nav">
        <div class="firstNav">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/Vision.png" class="logo" alt="logo" />
            </NavLink>
        </div>
        <div class="midNav">
            <div class="midNavItem">
                <NavLink href="/ons-team" Match="NavLinkMatch.All"><p class="navText">Ons Team</p></NavLink>
            </div>
            <div class="midNavItem">
                <NavLink href="/behandelingen" Match="NavLinkMatch.All"><p class="navText">Behandelingen</p></NavLink>
            </div>
            <div class="midNavItem">
                <NavLink href="/contact" Match="NavLinkMatch.All"><p class="navText">Contact</p></NavLink>
            </div>
        </div>
        <div class="lastNav">
            <NavLink class="nav-link"
                     href="https://secure.introlution.be/mijnonlineagenda_cmode/default.aspx?domain=visionoogcenter.be">
                <p class="lastText">
                    <img src="images/calendar.png" class="icon" alt="icon" /> Maak een afspraak
                </p>
            </NavLink>
        </div>
    </div>
    <div class="mobileNav">
        <div class="toggler" @onclick="ToggleNavMenu" style="display: @(collapseNavMenu ? "flex" : "none")">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="slideDown" style="display: @(collapseNavMenu ? "none" : "block")">
            <div class="togglerOff" @onclick="ToggleNavMenuBack" style="display: @(collapseNavMenu ? "none" : "block")">
                <span class="bar L"></span>
                <span class="bar R"></span>
            </div>
            <div class="mobileNavLinks" style="display: @(collapseNavMenu ? "none" : "flex")">
                <NavLink href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenuBack"><p class="navText">Home</p></NavLink>
                <NavLink href="ons-team" @onclick="ToggleNavMenuBack"><p class="navText">Ons Team</p></NavLink>
                <NavLink href="behandelingen" @onclick="ToggleNavMenuBack"><p class="navText">Behandelingen</p></NavLink>
                <NavLink href="Contact" @onclick="ToggleNavMenuBack"><p class="navText">Contact</p></NavLink>
                <NavLink href="afspraak" @onclick="ToggleNavMenuBack"><p class="navText">Maak een afspraak</p></NavLink> @*nog de href aan te passen *@
            </div>
        </div>
    </div>
</nav>
@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleNavMenuBack()
    {
        collapseNavMenu = true;
    }
}


