.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: #fff;
    /* Add your desired background color */
    z-index: 1000;
    /* Adjust the z-index as needed */
    /* Add other styles like padding, border, or text color as desired */

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.firstNav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.logo {
    margin-top: 1.5rem;
    display: block;
    height: 250px;
    object-fit: cover;
    margin-left: 9rem;
}

.midNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 55%;
}

.lastNav {
    width: 25%;
    background-color: #D4E8E4;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.midNavItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.midNavItem:hover {
    text-decoration: none !important;
}

.navText {
    color: inherit;
    font-size: 1.2rem;
    padding: .5rem 1rem !important;
}

.lastText {
    color: #033878;
    font-size: 1.5rem;
    font-weight: bold;
}

.lastText:hover {
    text-decoration: underline;
}

.navText:hover {
    color: #033878;
    text-decoration: none !important;
}

.mobileNav {
    display: none;
}

@media (max-width: 1050px) {
    .fixed-nav {
        display: none;
    }

    .mobileNav {
        display: flex;
        background-color: transparent;
        width: 100%;
        z-index: 1;
        position: absolute;
    }

    .bar {
        display: block;
        height: 6px;
        width: 35px;
        background-color: azure;
        border-radius: 10px;
    }

    .toggler {
        height: 40px;
        width: fit-content;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 20px;
        margin-top: 20px;
    }

    .toggler:hover {
        cursor: pointer;
    }

    .mobileNavLinks {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        background-color: #93C5BB;
        border-radius: 0 0 25px 25px;
    }

    .navText {
        color: azure;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .togglerOff {
        position: absolute;
        z-index: 1;
        height: 30px;
        width: fit-content;
        margin-left: 10px;
        margin-top: 10px;
        right: 0;
    }

    .togglerOff:hover {
        cursor: pointer;
    }

    .L {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .R {
        transform: rotate(-45deg);
        transform-origin: left;
        margin-top: 19px;
    }

    .slideDown {
        height: 100%;
        width: 100%;
        animation: slideDown .3s ease-in-out;
        background-color: #93C5BB;
        border-radius: 0 0 20px 20px;
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }


}