<div class="sidebar">
    <a class="sidebar-item" href="/admin"><p>Admin</p> <i class="fa fa-fw fa-home"></i></a>
    <a class="sidebar-item" href="/admin/employees"><p>Artsen</p> <i class="fa fa-fw fa-wrench"></i></a>
    <a class="sidebar-item" href="/admin/clients"><p>Clients</p> <i class="fa fa-fw fa-user"></i></a>
    <a class="sidebar-item" href="/admin/chatbot"><p>Chatbox</p> <i class="fa fa-fw fa-comments"></i></a>

    <div class="sidebar-item" @onclick="ToggleCMS">
        <p>CMS</p><i class="fa fa-fw fa-envelope"></i>
    </div>
    <ul class="sub-items @cmsItemStyle">
        <li><a href="/admin/cms/home">Home</a></li>
        <li><a href="/admin/cms/location">Location</a></li>
        <li><a href="/admin/cms/contact">Contact</a></li>
        <li><a href="/admin/cms/behandelingen">Behandelingen</a></li>
    </ul>
</div>

@code {
    private bool isCMSExpanded = false;

    private string cmsItemStyle => isCMSExpanded ? "open" : "closed";

    private void ToggleCMS()
    {
        isCMSExpanded = !isCMSExpanded;
    }
}
